<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.frame.mapper.core.RoleMapper">
    <resultMap id="roleMap" type="com.project.frame.model.core.Role">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="role_code" property="roleCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="is_sys" property="isSys" jdbcType="TINYINT"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="table_column">
        R.id as id, R.role_name as role_name, R.role_code as role_code, R.status as status, 
        R.is_sys as is_sys, R.create_date as create_date, R.modify_date as modify_date
    </sql>

    <select id="getById" resultMap="roleMap" parameterType="java.lang.Long">
        select
        <include refid="table_column"/>
        from s_role R
        where R.id = #{id}
    </select>

    <insert id="save" parameterType="com.project.frame.model.core.Role">
        insert into s_role (id, role_name, role_code, status, is_sys, create_date, modify_date
            )
        values (#{id}, #{roleName}, #{roleCode}, #{status}, #{isSys}, #{createDate}, #{modifyDate}
            )
    </insert>

    <update id="update" parameterType="com.project.frame.model.core.Role">
        update s_role
        <set>
            <if test="roleName != null and roleName != ''">
                role_name = #{roleName},
            </if>
            <if test="roleCode != null and roleCode != ''">
                role_code = #{roleCode},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="isSys != null">
                is_sys = #{isSys},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        delete from s_role
        where id = #{id}
    </delete>

    <select id="selectList" resultMap="roleMap">
        select
        <include refid="table_column"/>
        from s_role R
        <where>
            <if test="roleName != null and roleName != ''">
                and R.role_name = #{roleName}
            </if>
            <if test="roleCode != null and roleCode != ''">
                and R.role_code = #{roleCode}
            </if>
            <if test="status != null and status != ''">
                and R.status = #{status}
            </if>
            <if test="isSys != null">
                and R.is_sys = #{isSys}
            </if>
            <if test="createDate != null">
                and R.create_date = #{createDate}
            </if>
            <if test="modifyDate != null">
                and R.modify_date = #{modifyDate}
            </if>
        </where>
    </select>

</mapper>